<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Statistics</title>

</head>
<body>
<h1>Statistics</h1>

<h2>Diesel Prices</h2>
<p>Min Diesel Price: <span th:text="${minDieselPrice}"></span></p>
<p>Max Diesel Price: <span th:text="${maxDieselPrice}"></span></p>
<p>Average Diesel Price: <span th:text="${avgDieselPrice}"></span></p>

<h2>E5 Prices</h2>
<p>Min E5 Price: <span th:text="${minE5Price}"></span></p>
<p>Max E5 Price: <span th:text="${maxE5Price}"></span></p>
<p>Average E5 Price: <span th:text="${avgE5Price}"></span></p>

<h2>E10 Prices</h2>
<p>Min E10 Price: <span th:text="${minE10Price}"></span></p>
<p>Max E10 Price: <span th:text="${maxE10Price}"></span></p>
<p>Average E10 Price: <span th:text="${avgE10Price}"></span></p>



<a href="/" style="display: inline-block;
 background-color: #4CAF50; color: white; padding: 10px 20px; text-align: center;
 text-decoration: none; display: inline-block; border-radius: 4px; border: none;">Back to Home</a>

</body>
</html>